/* h1{
    color: red; 
} */
/* linkedin button class*/
.linkedinBtn {
    background: #0094BC;
}

.linkedinBtn:before {
    font-family: "FontAwesome";
    content: "\f0e1";
    /* add linkedin icon */
}

.linkedinBtn:hover {
    color: #0094BC;
    background: #fff;
}

.githubBtn {
    background: black;
}

.githubBtn:before {
    font-family: "FontAwesome";
    content: "\f09b";
    /* add linkedin icon */
}

.githubBtn:hover {
    color: black;
    background: #fff;
}
/*************************************/

.mailBtn {
    background: gray;
}

.mailBtn:before {
    font-family: "FontAwesome";
    content: "\f0e0";
    /* add linkedin icon */
}

.mailBtn:hover {
    color: black;
    background: #fff;
}


/*************************************/


.smGlobalBtn {
    /* global button class */
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: normal;
    line-height: 2em;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
}

hr {
    height: 1px;
    background-color: #ccc;
    border: none;
}

.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*************************************/
/*hover text */
.navbar-nav > li:hover {
    text-decoration: underline ;  
}

/*******/
.vcenter-item{
    display: flex;
    align-items: center;
}